* {
	font-family: 'Open Sans', sans-ser;
	max-width: 100%;
}

html {
	scroll-behavior: smooth;
}

.nav {
	display: flex;
	justify-content: space-between;
	letter-spacing: 5px;
}

.e {
	font-family: 'Roboto Condensed'; 
	font-size: 30px;
	text-decoration: none;
  background: 
    linear-gradient(to left, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to left, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.e:hover,
.e:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
.text-2 {
	margin: auto;
	max-width: 900px;
}

.h-1 {
	margin-top: 20px;
	margin-bottom: 20px; 
}

.ca {
	display: flex;
	justify-content: center;
}

.img-1 {
	widows: 400px;
	height: 600px
}

.h-2 {
	margin-top: 40px;
}


.hh {
	display: flex;
	justify-content: center;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 50px;
	color: #5115ab;
	  background: 
    linear-gradient(to left, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to left, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

h1:hover,
h1:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.img-d {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.img-2 {
	width: 300px;
}

.blog-1 {
	display: flex;
	justify-content: center;
}

.para {
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
}

.hr3 {
	margin-top: 20px;
}

.h1-1 {
	display: flex;
	justify-content: center;
}

.link {
	display: flex;
	justify-content: center;
	height: 80px;
}

.l {
	padding: 30px;
}

.i {
	width: 35px;
	height: 35px;
	transition: 0.10s;
}

.i:hover {
	color: pink;
	opacity: 0.5; 
	transition: 0.10s;
}

